.color-shade-50 { background-color: #c68aff; }
.color-shade-100 { background-color: #ac72e9; }
.color-shade-200 { background-color: #935bd3; }
.color-shade-300 { background-color: #7944be; }
.color-shade-400 { background-color: #602ea9; }
.color-shade-500 { background-color: #451694; }
.color-shade-600 { background-color: #36157d; }
.color-shade-700 { background-color: #271367; }
.color-shade-800 { background-color: #181051; }
.color-shade-900 { background-color: #0a0c3c; }
.color-shade-950 { background-color: #000029; }
